<section>
    <h2 *ngIf="isCursoNovo">Novo curso</h2>
    <h2 *ngIf="!isCursoNovo">Alterr dados</h2>

    <form>
        <div class="form-group" *ngIf="!isCursoNovo">
            <label for="id-curso">Id</label>
            <input type="text" disabled class="form-control" name="id-curso" [(ngModel)]="curso.id">
        </div>
        <div class="form-group">
            <label for="nome-curso">Nome</label>
            <input type="text" class="form-control" name="nome-curso" [(ngModel)]="curso.nome">
        </div>
        <div class="form-group">
            <label for="professor">Professor</label>
            <input type="text" class="form-control" name="professor" [(ngModel)]="curso.professor">
        </div>
        <div class="form-group">
            <label for="qtd-alunos">Qtd Alunos</label>
            <input type="text" class="form-control" name="qtd-alunos" [(ngModel)]="curso.qtdAlunos">
        </div>

        <button *ngIf="isCursoNovo" class="btn btn-primary" (click)="addCurso()" >Cadastrar novo curso</button>
        <button *ngIf="!isCursoNovo" class="btn btn-primary" (click)="editCurso()" >Alterar curso</button>
    </form>
</section>