<div class="row">
    <div class="col s6">
        <div class="collection">
            <h2>Cursos cadastrados</h2>
            <a class="list-group-item list-group-item-action" 
                [routerLink]="[curso.id]"
                *ngFor="let curso of cursos">
                {{ curso.nome }}
            </a>
        </div>
    </div>

    <div class="col s6">
        <router-outlet></router-outlet>
    </div>
</div>

<button 
routerLink="novo"
type="button" style="margin-top: 5px;" class="btn btn-primary btn-lg btn-block">Novo curso</button>