<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #d8d8d8;">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active">
    <img src="../../assets/img/angular.png" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cursos" routerLinkActive="active">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="fornecedor" routerLinkActive="active">Fornecedor</a>
            </li>
        </ul>
    </div>
    <span class="navbar-text">
        | Olá, {{ userName }}
    </span>
</nav>