<div class="shadow p-3 mb-5 bg-white rounded mt-5 text-center div-sigin">
    <div *ngIf="loginForm.invalid && loginForm.touched">
        <div class="alert alert-danger alert-dismissible fade show text-left" role="alert"
        *ngFor="let erro of erros">
            {{ erro }}
            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
    </div>

    <form (ngSubmit)="autenticarUsuario()" [formGroup]="loginForm">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <div class="form-group">
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="E-mail">
            <input type="password" class="form-control mt-1" name="senha" formControlName="password" placeholder="Senha">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
    </form>
</div>