<div class="row">
    <div class="col s6">
        <div class="collection">
            <h2>Fornecedores cadastrados</h2>
            <a class="list-group-item list-group-item-action" 
                [routerLink]="[f.id]"
                *ngFor="let f of fornecedores">
                Nome: {{ f.nome }}<br>
                CNPJ: {{ f.cnpj | cnpj }}<br> 
                Saldo: {{ f.saldo | currency:'BRL' }}<br>
            </a>
        </div>
    </div>

    <div class="col s6">
        <router-outlet></router-outlet>
    </div>
</div>

<button 
routerLink="novo"
type="button" style="margin-top: 5px;" class="btn btn-primary btn-lg btn-block">Novo fornecedor</button>