<div class="container">
    <div class="row">
      <div class="col">
        <h1>Aprenda a programar</h1>
        <h4>
            Lorem ipsum conubia a elementum id dictum varius ut, phasellus scelerisque posuere euismod fusce vehicula et dui, inceptos eros nunc nisi eu conubia metus. 
sit felis feugiat neque odio bibendum euismod dictum, amet urna semper sodales duis neque tortor, posuere cubilia ante varius ultricies rutrum. 
potenti condimentum aenean hendrerit, mattis. 
        </h4>
      </div>
      <div class="col">
        <img src="../../assets/img/developer_activity.svg" class="img-fluid" alt="DEV">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="../../assets/img/code_review_l1q9.svg" class="img-fluid" alt="DEV">
        <p style="margin-top: 20px;">
            Lorem ipsum condimentum sem consectetur at tempor, aliquam morbi vitae malesuada. 
            quisque iaculis semper volutpat id orci adipiscing ipsum et sem, cubilia maecenas platea primis mollis justo sed justo consectetur, vivamus integer primis suscipit mattis lacus curabitur varius. 
        </p>
      </div>
      <div class="col">
        <img src="../../assets/img/static_assets_rpm6.svg" class="img-fluid" alt="DEV">
        <p style="margin-top: 20px;">
            Lorem ipsum condimentum sem consectetur at tempor, aliquam morbi vitae malesuada. 
            quisque iaculis semper volutpat id orci adipiscing ipsum et sem, cubilia maecenas platea primis mollis justo sed justo consectetur, vivamus integer primis suscipit mattis lacus curabitur varius. 
        </p>
      </div>
      <div class="col">
        <img src="../../assets/img/eact_y7wq.svg" class="img-fluid" alt="DEV">
        <p style="margin-top: 20px;">
            Lorem ipsum condimentum sem consectetur at tempor, aliquam morbi vitae malesuada. 
            quisque iaculis semper volutpat id orci adipiscing ipsum et sem, cubilia maecenas platea primis mollis justo sed justo consectetur, vivamus integer primis suscipit mattis lacus curabitur varius. 
        </p>
      </div>
    </div>
  </div>

<div class="container">
    <router-outlet></router-outlet>
</div>
